body{
  background-color: white;
  margin: 0;
}

.topBar{
  width: auto;
  height: 140px;
  background-color: rgba(2, 218, 110, 0.863);
  margin: 0;
  display: flex;
  text-wrap: nowrap;
  align-items: center;  
}

.topBarLinks {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.688);
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.topBarLinks:hover {
  color: rgba(240, 248, 255, 0.821);
  transition-duration: 0.1s;
  transform: scale(1.02);
}

.mainHeader:first-child {
  margin-left: 20px;
  margin-right: auto;
}

.przepis:nth-child(3n+1):last-child {
  margin-left: 47px;
  margin-right: auto;
}
.przepis:nth-child(3n+2):last-child {
  margin-left: 0px;
  margin-right: 451px;
}
.mainBox{
  
  width: 1400px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
}
.mainHeader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 75px;
  color:white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.683);

}

a{
  text-decoration: none;
  color:inherit;
}

.przepis {
  width:400px;
  height:300px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;

}
.nazwaPrzepisu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px rgb(0, 0, 0);
  margin-left: 10px;
  margin-top: 10px;

}
.opisPrzepisu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(251, 249, 249, 0.659);
}
.sprawdz {
  width:140px;
  height:56px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  background-color: rgba(2, 218, 110, 0.863);
  color:white;
  border-radius: 4px;
  border: 2px solid rgba(2, 218, 110, 0.863);
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  
}
.sprawdz {
  transition-duration: 0.4s;
}

.sprawdz:hover {
  background:inherit;
  color: rgba(2, 218, 110, 0.863);
  border: 2px solid rgba(2, 218, 110, 0.863);
}

.przepis:hover {
  transform: scale(1.02);
}

#grzybowa {
  background-image: url(grzybowa_poprawiona.jpg);
}