html {
  max-height: 100%;
}
body{
  background-color: white;
  margin: 0;
  height: auto;
}




/*   CSS for index   */




/* CSS for the top bar */
.topBar{
  width: auto;
  height: 140px;
  background-color: rgba(2, 218, 110, 0.863);
  margin: 0;
  box-shadow: 1px 1px 24px 9px rgba(0,0,0,0.4);
  display: flex;
  text-wrap: nowrap;
  align-items: center;

}
.logoImg {
  margin-left: 0;
  margin-right: auto;
}
.logo{
  width: 12rem;
  height: 12rem;
  
}
.mainHeader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8rem;
  color:rgb(2, 218, 110);
  text-shadow: 6px 4px 5px rgba(23, 23, 24, 1);
  margin-left: 3rem;
  margin-bottom: 2rem;
  margin-right: auto;
}

a{
  text-decoration: none;
  color:inherit;
}

.dropButtons {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 6px 4px 7px rgba(23, 23, 24, 1);
  margin-left: 20px;
  margin-right: 20px;
  background: inherit;
  border: 0;
  margin-bottom: 10px;
}
.dropDown {
  position: relative;
  display: inline-block;
}
.dropMenu {
  display: none;
  position: absolute;
  left:26px;
  background-color: white;
  padding: 0.75em;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 black;
  z-index: 1;

}

.dropDown:hover .dropMenu {
  display: block;
}

.dropButtons:hover {
  color: rgba(240, 248, 255, 0.885);
}
.dropDownLink{
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: calc(100% + 0.25em);
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.655);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.269);
}
.dropDownLink:hover{
  color: rgba(34, 33, 33, 0.24);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.225);
}
.dropDownLink:last-child {
  margin-bottom: 5px;
}


/*  CSS for searchbar   */




.headerAndSearch {
  width: auto;
  height: 16rem;
  padding: 0;
  display: flex;
  align-items: flex-end;
  margin-bottom: 4rem;
}
.searchbarstyle{
  font-size: 2rem;
  width: 26rem;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 3px 4px 25px 0px rgba(121, 113, 113, 1);
  border: 2px solid rgba(54, 54, 54, 0.823) ;
  margin-right: 5rem;
  margin-bottom: 4rem;
}


/*   CSS for main grid, where recipes are   */



.mainBox{
  margin: 3rem;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-auto-rows: auto;
}





/*    CSS for the design of recipe box on index page   */



.dodaj-przepis{
  width: 500px;
  height: 350px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 4px 25px 0px rgba(121, 113, 113, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 350px;
  color: rgba(105, 105, 105, 0.286);
}
.dodaj-przepis:hover{
  transform: scale(1.02);
}

.przepis {
  width: 500px;
  height: 350px;
  border-radius: 4px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 4px 25px 0px rgba(121, 113, 113, 1);
}
.nazwaPrzepisu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 6px 4px 5px rgb(0, 0, 0);
  margin-left: 10px;
  margin-top: 10px;

}
.opisPrzepisu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(251, 249, 249, 0.659);
}
.sprawdz {
  width:140px;
  height:56px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  background-color: rgba(2, 218, 110, 0.863);
  color:white;
  border-radius: 4px;
  border: 2px solid rgba(2, 218, 110, 0.863);
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  
}
.sprawdz {
  transition-duration: 0.4s;
}

.sprawdz:hover {
  background:none;
  color: rgba(2, 218, 110, 0.863);
  border: 2px solid rgba(2, 218, 110, 0.863);
}

.przepis:hover {
  transform: scale(1.02);
}













/*   CSS for the template   */






.empty1{
  width: 100%;
  height: 10px;
}


/*    CSS for the main box, beneath the top bar, that contains grid     */

.przepisBox {
  margin: 3rem;
  margin-bottom: 5rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 50% 50%;
  grid-auto-rows: auto auto 80px;
  grid-template-areas: 
  "mainSection caloscOpisu"
  "mainSection zdj"
  "mainSection but";
}



/*   Style of ingredients and recipe steps   */

.styleSkladniki {
  width: auto;
  height: auto;
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 3rem;
}



/*   CSS for the picture of the recipe   */



.zdjecie1{
  border-radius: 15px;
  width: 100%;
  height: auto;
  box-shadow: 8px 8px 25px 0px rgba(121, 113, 113, 1);
  transition: all 0.2s ease-in-out;
  grid-area: zdj;
}

.zdjecie1:hover {
  transform: scale(1.018);
}



/*   CSS for section, that contains ingredients and recipe steps  */


.mainSection{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 8px 8px 25px 0px rgba(121, 113, 113, 1);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  grid-area: mainSection;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#smacznego{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  color: rgb(2, 218, 110);
  text-shadow: 4px 3px 4px rgb(16, 16, 16);
  margin-left: 2rem;
}

.tytul {
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 38px;
  color: rgb(2, 218, 110);
  text-shadow: 4px 3px 4px rgb(16, 16, 16);
  margin-left: 2rem;
}



/*   CSS for description of the recipe   */


.caloscOpisu {
  height: 100%;
  border-radius: 10px;
  box-shadow: 8px 8px 25px 0px rgba(121, 113, 113, 1);
  transition: all 0.2s ease-in-out;
  grid-area: caloscOpisu;
}

.opis {
  margin-left: 15px;
}
.par {
  margin-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  text-wrap: wrap;
  color: rgba(0, 0, 0, 0.696);
}
h2 {
  margin-left: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: rgb(2, 210, 106);
  text-shadow: 4px 3px 4px rgb(16, 16, 16);
}
.mainSection h2 {
  margin-left: 1rem;
}

.mainSection:hover {
  transform: scale(1.01);
}
.caloscOpisu:hover {
  transform: scale(1.018);
}




/*   CSS for return button   */


.przepisBox .sprawdz {
  width: 260px;
  height: 100px;
  font-size: 75px;
  box-shadow: 5px 5px 25px 0px rgba(121, 113, 113, 1);
  text-shadow: 2px 2px 4px rgb(16, 16, 16);
  margin: 0;
  margin-left: auto;
  grid-area: but;
}
.przepisBox .sprawdz:hover {
  text-shadow: 2px 2px 4px rgba(2, 218, 110, 0.714);
}






/*   CSS for mobile size equal or less than 1150px for index */


@media only screen and (max-width: 1150px) {
  .mainHeader{
    margin: 0;

  }
  .searchbarstyle{
    margin: 0;
  }
  .headerAndSearch{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  @media only screen and (max-width: 992px) {

    .mainBox{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media only screen and (max-width: 700px) {
      .topBar{
        height: 50px;
      }
      .logo{
        width: 3rem;
        height: 3rem;
        margin-left: 0;
        margin-right: auto;
      }
      .headerAndSearch{
        height: 160px;
        margin-bottom: 0;
      }
      .mainHeader{
        font-size: 2.5rem;
        text-shadow: 2px 2px 5px rgba(23, 23, 24, 1);
      }
      .searchbarstyle{
        width: 16rem;
        height: 1rem;
        font-size: 1rem;
      }
      .dropButtons {
        font-size: 18px;
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
      }
      .dropMenu{
        right: 4px;
        left: auto;
      }
      .dropDownLink{
        display: block;
        font-size: 10px;
        margin-bottom: 15px;

      }
      .mainBox {
        margin: 1rem;
      }
      .przepis {
        width: 280px;
        height: 230px;
      }
      .dodaj-przepis{
        width: 280px;
        height: 230px;
        font-size: 200px;
      }
      .nazwaPrzepisu {
        font-size: 28px;
        margin-left: 10px;
        margin-top: 10px;
      
      }
      .opisPrzepisu {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }
      .sprawdz {
        width:100px;
        height:38px;
        font-size: 25px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}




/*        mobile for template         */






@media only screen and (max-width: 1450px) {
  h2 {
    font-size: 30px;
  }
  .tytul{
    font-size: 28px;
    margin-left: 1.5rem;
  }

  .mainSection .unorderedList{
    font-size: 18px;

  }
  .mainSection ol{
    font-size: 18px;
  }
  .par{
    font-size: 16px;
  }
  .przepisBox .sprawdz {
    width: 180px;
    height:80px;
    font-size: 52px;
  }
  #smacznego{
    font-size: 48px;
    margin-left: 1.5rem;
  }
  .styleSkladniki {
    font-size: 20px;
  }
  @media only screen and (max-width: 1100px) {
    
    .styleSkladniki {
      font-size: 30px;
    }

    .przepisBox {
      grid-template-columns: 1fr;
      grid-auto-rows: auto auto auto 80px;
      grid-template-areas: 
      "caloscOpisu"
      "zdj"
      "mainSection"
      "but";
    }
    
    
    h2 {
      font-size: 50px;
    }
    .tytul{
      font-size: 45px;
      margin-left: 1.5rem;
    }
  
    .mainSection .unorderedList{
      font-size: 26px;
  
    }
    .mainSection .orderedList{
      font-size: 26px;
    }
    .par{
      font-size: 22px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .przepisBox .sprawdz {
      width: 200px;
      height:100px;
      font-size: 58px;
      margin-top: 0;
      margin-bottom: auto;
    }
    #smacznego{
      font-size: 70px;
      margin-left: 1.5rem;
    }
    @media only screen and (max-width: 700px) {
      .styleSkladniki {
        font-size: 12px;
      }
      .przepisBox{
        margin: 1rem;
        gap: 1rem;
      }
      h2 {
        font-size: 16px;
        text-shadow: 1px 1px 2px rgba(23, 23, 24, 1);
      }
      .tytul{
        font-size: 16px;
        margin-left: 1rem;
        text-shadow: 2px 2px 5px rgba(23, 23, 24, 1);
      }
    
      .mainSection .unorderedList{
        width: 80%;
        font-size: 10px;
        margin-left: 0.5rem;
      }
      .mainSection .orderedList{
        width: 80%;
        font-size: 10px;
        margin-left: 0.5rem;
      }
      .par{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 10px;
      }
      .przepisBox .sprawdz {
        width: 80px;
        height:40px;
        font-size: 20px;
      }
      #smacznego{
        font-size: 32px;
        margin-left: 1rem;
        text-shadow: 2px 2px 3px rgba(23, 23, 24, 1);
      }
    }
  }
}


#searchbar-container {
  position: relative;
  display: inline-block;
}

#searchbar {
  width: 100%;
  box-sizing: border-box;
}

#results-container {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 1000;
}

.highlight {
  color: red; /* Zmiana koloru na czerwony dla dopasowanej literki */
}

/* Dodatkowe style dla lepszego wyglądu */
#searchbar, #results-container {
  border-radius: 4px;
}

#results-container p {
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#results-container p:last-child {
  border-bottom: none;
}

#results-container p:hover {
  background-color: #f9f9f9;
}
