html {
  max-height: 100%;
}
body{
  background-color: white;
  margin: 0;
  height: auto;
}

.topBar{
  width: auto;
  height: 140px;
  background-color: rgba(2, 218, 110, 0.863);
  margin: 0;
  box-shadow: 1px 1px 24px 9px rgba(0,0,0,0.4);
  display: flex;
  text-wrap: nowrap;
  align-items: center;  
}

#logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center; 
}

.dropButtons {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 6px 4px 7px rgba(23, 23, 24, 1);
  margin-left: 20px;
  margin-right: 20px;
  background: inherit;
  border: 0;
  margin-bottom: 10px;
}
.dropDown {
  position: relative;
  display: inline-block;
}
.dropMenu {
  display: none;
  position: absolute;
  left:26px;
  background-color: white;
  padding: 0.75em;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 black;
  z-index: 1;

}

.dropDown:hover .dropMenu {
  display: block;
}

.dropButtons:hover {
  color: rgba(240, 248, 255, 0.885);
}
.dropDownLink{
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: calc(100% + 0.25em);
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.655);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.269);
}
.dropDownLink:hover{
  color: rgba(34, 33, 33, 0.24);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.225);
}
.dropDownLink:last-child {
  margin-bottom: 5px;
}
.mainHeader:first-child {
  margin-left: 20px;
  margin-right: auto;
}

.przepis:nth-child(3n+1):last-child {
  margin-left: 47px;
  margin-right: auto;
}
.przepis:nth-child(3n+2):last-child {
  margin-left: 0px;
  margin-right: 451px;
}
.mainBox{
  
  width: 1400px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
}
.mainHeader{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 75px;
  color:white;
  text-shadow: 6px 4px 5px rgba(23, 23, 24, 1);

}

a{
  text-decoration: none;
  color:inherit;
}

.przepis {
  width:400px;
  height:300px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;

}
.nazwaPrzepisu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 6px 4px 5px rgb(0, 0, 0);
  margin-left: 10px;
  margin-top: 10px;

}
.opisPrzepisu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20;
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(251, 249, 249, 0.659);
}
.sprawdz {
  width:140px;
  height:56px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  background-color: rgba(2, 218, 110, 0.863);
  color:white;
  border-radius: 4px;
  border: 2px solid rgba(2, 218, 110, 0.863);
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  
}
.sprawdz {
  transition-duration: 0.4s;
}

.sprawdz:hover {
  background:inherit;
  color: rgba(2, 218, 110, 0.863);
  border: 2px solid rgba(2, 218, 110, 0.863);
}

.przepis:hover {
  transform: scale(1.02);
}

.indexfooter {
  margin-bottom: 0;
  margin-top: 120px;
  width: auto;
  height: 80px;
  background-color: rgba(2, 218, 110, 0.863);
  box-shadow: 1px 1px 24px 9px rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 6px 4px 5px rgba(23, 23, 24, 1);
}

#grzybowa {
  background-image: url(grzybowa_poprawiona.jpg);
}

#logoStrony {
  width: auto;
  height: auto;

}

.przepisBox {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-evenly;
}

ul{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  list-style-type: circle;
  text-wrap: wrap;
}
li::marker{
  color: black;
}

ol{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  list-style-type: circle;
  text-wrap: wrap;
}

.zdjecie1{
  border-radius: 5%;
  width: 80%;
  height: auto;
  margin-bottom: 150px;
  box-shadow: 8px 8px 25px 0px rgba(121, 113, 113, 1);
  transition: all 0.2s ease-in-out;
}

.zdjecie1:hover {
  transform: scale(1.018);
}

.mainSection{
  margin-top: 40px;
  margin-right: 2%;
  margin-left: 2%;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 8px 8px 25px 0px rgba(121, 113, 113, 1);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}

#smacznego{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  color: rgb(2, 218, 110);
  text-shadow: 4px 3px 4px rgb(16, 16, 16);
  margin-left: 10px;
  margin-top: 10px;
}

.tytul {
  width: 100%;
  height: auto;
  margin-left: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  color: rgb(2, 218, 110);
  text-shadow: 4px 3px 4px rgb(16, 16, 16);
}

.aside {
  margin-top: 60px;
  margin-right: 2%;
  margin-left: 2%;
  width: auto;
  padding: 1%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.caloscOpisu {
  border-radius: 5px;
  box-shadow: 8px 8px 25px 0px rgba(121, 113, 113, 1);
  transition: all 0.2s ease-in-out;
}

.opis {
  margin-left: 15px;
}
.par {
  margin-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.696);
}
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  color: rgb(2, 218, 110);
  text-shadow: 4px 3px 4px rgb(16, 16, 16);
}
.mainSection h2 {
  margin-left: 3%;
}

.mainSection:hover {
  transform: scale(1.01);
}
.caloscOpisu:hover {
  transform: scale(1.018);
}

.aside .sprawdz {
  width: 270px;
  height: 120px;
  font-size: 75px;
  box-shadow: 5px 5px 25px 0px rgba(121, 113, 113, 1);
  text-shadow: 2px 2px 4px rgb(16, 16, 16);
}
.aside .sprawdz:hover {
  text-shadow: 2px 2px 4px rgba(2, 218, 110, 0.714);
}